@import '../variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body,
html {
  width: 100%;
  height: 100%;
  line-height: 1.875rem;
  font-size: 1rem;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span {
  color: #000;
}

a {
  &:focus,
  &:hover {
    color: #000;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 2.5em;
}

.grey {
  color: #666666;

  &:focus,
  &:hover {
    color: #666666;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

* {
  background-repeat: no-repeat;
}

strong {
  font-weight: $font-bold;
}

.body {
  min-height: $header_height;
}

.layout-container {
  position: relative;
}

.content-section {
  width: 100%;
  display: flex;
  justify-content: center;

  .inner {
    width: 100%;
    max-width: $content_full_width;
    padding: 0 $content_padding;
  }
}

h1 {
  margin-top: 0;
}

.pagination-wrapper {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.pagination-btn {
  background-color: #F7F7F7;
  color: #12738F;
  cursor: pointer;

  &.active,
  &:hover {
    background-color: #E0F3F6;
  }

  &.with-select {
    padding: 7px;
    margin: 0;
    cursor: inherit;
  }

  select {
    border: 0;
    background-color: #FFF;
    height: 36px;
    width: 100px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.pagination-btn,
.pagination-skip {
  float: left;
  padding: 15px 25px;
  height: 50px;
}

.pang-more {
  float: left;
  padding: 15px 25px;
  height: 50px;
  background-color: #F7F7F7;
  color: #12738F;
}

.pager {
  margin: 0;

  .pager__items {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: hidden;
    float: left;

    .pager__item {
      a {
        background-color: #F7F7F7;
        color: #12738F;
        cursor: pointer;
        float: left;
        padding: 15px 25px;
        height: 50px;
        border: 0;
        border-radius: 0;

        &.active,
        &:hover {
          background-color: #E0F3F6;
        }

        &.with-select {
          padding: 7px;
          margin-left: 10px;
          cursor: inherit;
        }

        select {
          border: 0;
          background-color: #FFF;
          height: 36px;
          width: 100px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
    }

    .pagination-btn,
    .pagination-skip {
      float: left;
      padding: 15px 25px;
      height: 50px;
    }
  }

  .pagination-btn {
    &.with-select {
      float: left;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.d-none {
  display: none;
}

.purple {
  color: #1D778F;
}

.blue {
  color: #518fcc;
}

p {
  a {
    color: #518fcc;
  }
}

#block-pharm-theme-local-tasks {
  line-height: 40px;

  > ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;

    li {
      flex-grow: 1;
      border-bottom: 1px solid #ccc;
      background: #eee;
    }

    a {
      padding: 5px 10px;
      text-decoration: none;
      color: #220337;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;

      &:hover {
        background: #220337;
        color: #fff;
      }
    }
  }
}

@media (max-width: $phone) {
  .content-section {
    .inner {
      padding: 0 $content_padding_sm;
    }
  }
}

form {
  line-height: 200%;

  fieldset {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  #edit-submit {
    width: 100px;
    background-color: $purple;
    color: $white;
    border: none;
    margin: $content_padding_sm 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.table-bordered {
  thead {
    td,
    th {
      border-bottom-width: 1px;
    }
  }
}

table {
  // news content table not need border
  //border: 1px solid $light_grey;
  border-bottom: 3px solid $purple;
  border-spacing: 0;

  tr {
    line-height: 1.5;

    td {
      padding: 7px;
      font-size: 15px;

      p {
        margin-bottom: 20px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      a {
        font-weight: 400 !important;
      }
    }
  }

  thead {
    tr {
      color: $grey;

      th {
        border-width: 1px;
        font-size: 15px;
      }
    }
  }

  tbody {
    tr {
      color: $grey; // &:nth-child(odd) {
      //   background-color: $pink;
      // }
    }
  }
}

.text-center {
  text-align: center;
}

.container-fluid-40 {
  position: relative;
  padding-right: 45px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.container-fluid-125 {
  background-color: #F3F3F3;
  border-bottom: 3px solid #EDEDED;
  margin-bottom: 25px;
  position: relative;
  padding-right: 125px;
  padding-left: 125px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  &.submenu {
    padding-right: 140px;
    padding-left: 140px;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/**** Bootstrap-9 ******/
.col-xs-9-1,
.col-xs-9-2,
.col-xs-9-3,
.col-xs-9-4,
.col-xs-9-5,
.col-xs-9-6,
.col-xs-9-7,
.col-xs-9-8,
.col-xs-9-9 {
  float: left;
}

.col-xs-9-9 {
  width: 100%;
}

.col-xs-9-8 {
  width: 88.88888889%;
}

.col-xs-9-7 {
  width: 77.77777778%;
}

.col-xs-9-6 {
  width: 66.66666667%;
}

.col-xs-9-5 {
  width: 55.55555556%;
}

.col-xs-9-4 {
  width: 44.44444444%;
}

.col-xs-9-3 {
  width: 33.33333333%;
}

.col-xs-9-2 {
  width: 22.22222222%;
}

.col-xs-9-1 {
  width: 11.11111111%;
}

@media (min-width: 768px) {
  .col-sm-9-1,
  .col-sm-9-10,
  .col-sm-9-11,
  .col-sm-9-12,
  .col-sm-9-2,
  .col-sm-9-3,
  .col-sm-9-4,
  .col-sm-9-5,
  .col-sm-9-6,
  .col-sm-9-7,
  .col-sm-9-8,
  .col-sm-9-9 {
    float: left;
  }

  .col-sm-9-9 {
    width: 100%;
  }

  .col-sm-9-8 {
    width: 88.88888889%;
  }

  .col-sm-9-7 {
    width: 77.77777778%;
  }

  .col-sm-9-6 {
    width: 66.66666667%;
  }

  .col-sm-9-5 {
    width: 55.55555556%;
  }

  .col-sm-9-4 {
    width: 44.44444444%;
  }

  .col-sm-9-3 {
    width: 33.33333333%;
  }

  .col-sm-9-2 {
    width: 22.22222222%;
  }

  .col-sm-9-1 {
    width: 11.11111111%;
  }

  .d-flex-md {
    display: flex;
  }

  .pr-3 {
    padding-right: 3px !important;
  }

  .pl-3 {
    padding-left: 3px !important;
  }
}

@media (min-width: 992px) {
  .col-md-9-1,
  .col-md-9-10,
  .col-md-9-11,
  .col-md-9-12,
  .col-md-9-2,
  .col-md-9-3,
  .col-md-9-4,
  .col-md-9-5,
  .col-md-9-6,
  .col-md-9-7,
  .col-md-9-8,
  .col-md-9-9 {
    float: left;
  }

  .col-md-9-9 {
    width: 100%;
  }

  .col-md-9-8 {
    width: 88.88888889%;
  }

  .col-md-9-7 {
    width: 77.77777778%;
  }

  .col-md-9-6 {
    width: 66.66666667%;
  }

  .col-md-9-5 {
    width: 55.55555556%;
  }

  .col-md-9-4 {
    width: 44.44444444%;
  }

  .col-md-9-3 {
    width: 33.33333333%;
  }

  .col-md-9-2 {
    width: 22.22222222%;
  }

  .col-md-9-1 {
    width: 11.11111111%;
  }
}

@media (min-width: 1200px) {
  .col-lg-9-1,
  .col-lg-9-10,
  .col-lg-9-11,
  .col-lg-9-12,
  .col-lg-9-2,
  .col-lg-9-3,
  .col-lg-9-4,
  .col-lg-9-5,
  .col-lg-9-6,
  .col-lg-9-7,
  .col-lg-9-8,
  .col-lg-9-9 {
    float: left;
  }

  .col-lg-9-9 {
    width: 100%;
  }

  .col-lg-9-8 {
    width: 88.88888889%;
  }

  .col-lg-9-7 {
    width: 77.77777778%;
  }

  .col-lg-9-6 {
    width: 66.66666667%;
  }

  .col-lg-9-5 {
    width: 55.55555556%;
  }

  .col-lg-9-4 {
    width: 44.44444444%;
  }

  .col-lg-9-3 {
    width: 33.33333333%;
  }

  .col-lg-9-2 {
    width: 22.22222222%;
  }

  .col-lg-9-1 {
    width: 11.11111111%;
  }
}
