@import '../variable';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
html, body {
    width: 100%;
    height: 100%;
    line-height: 1.875rem;
    font-size: 1rem;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p, a, span, label {
    color: #000;
}
img {
    width: 100%;
}
p a, .blue{
  color: #518fcc;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
strong {
    font-weight: $font-bold;
}
.body {
    min-height: $header_height;
}
.layout-container {
    position: relative;
}
.content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    .inner {
        width: 100%;
        max-width: $content_full_width;
        padding: 0 $content_padding;
    }
}
h1 {
    margin-top: 0;
}

#block-pharm-theme-local-tasks {
    line-height: 40px;
    >ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        li {
            flex-grow: 1;
            border-bottom: 1px solid #ccc;
            background: #eee;
        }
        a {
            padding: 5px 10px;
            text-decoration: none;
            color: #220337;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            &:hover {
                background: #220337;
                color: #fff;
            }
        }
    }
}


@media (max-width: $pad) {
    html, body {
        font-size: 15px;
    }
}
@media (max-width: $phone) {
    .content-section {
        .inner {
            padding: 0 $content_padding_sm;
        }
    }
}
form {
    line-height: 200%;
    fieldset {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #edit-submit {
        width: 100px;
        background-color: $purple;
        color: $white;
        border: none;
        margin: $content_padding_sm 0;
        &:hover {
            cursor: pointer;
        }
    }
}
.table-bordered {
    thead {
        td, th {
            border-bottom-width: 1px;
        }
    }
}
table {
    border: 1px solid $light_grey;
    border-bottom: 3px solid $purple;
    border-spacing: 0;
    tr {
        line-height: 1.5;
        td {
            padding: 7px;
            font-size: 15px;
            p {
                margin-bottom: 20px!important;
                &:last-child {
                    margin-bottom: 0!important;
                }
            }
            a {
                font-weight: 400!important;
            }
        }
    }
    thead {
        tr {
            color: $grey;
            th {
                border-width: 1px;
                font-size: 15px;
            }
        }
    }
    tbody {
        tr {
            color: $grey; // &:nth-child(odd) {
            //   background-color: $pink;
            // }
        }
    }
}
h1, h2, h3, h4 {
    display: inline-block
}
.text-center {
    text-align: center;
}
.container-fluid-40 {
    position: relative;
    padding-right: 45px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.container-fluid-125 {
    position: relative;
    padding-right: 125px;
    padding-left: 125px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-top: 12px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/**** Bootstrap-9 ******/
.col-xs-9-1, .col-xs-9-2, .col-xs-9-3, .col-xs-9-4, .col-xs-9-5, .col-xs-9-6, .col-xs-9-7, .col-xs-9-8, .col-xs-9-9 {
    float: left;
}
.col-xs-9-9 {
    width: 100%;
}
.col-xs-9-8 {
    width: 88.88888889%;
}
.col-xs-9-7 {
    width: 77.77777778%;
}
.col-xs-9-6 {
    width: 66.66666667%;
}
.col-xs-9-5 {
    width: 55.55555556%;
}
.col-xs-9-4 {
    width: 44.44444444%;
}
.col-xs-9-3 {
    width: 33.33333333%;
}
.col-xs-9-2 {
    width: 22.22222222%;
}
.col-xs-9-1 {
    width: 11.11111111%;
}
@media (min-width: 768px) {
    .col-sm-9-1, .col-sm-9-2, .col-sm-9-3, .col-sm-9-4, .col-sm-9-5, .col-sm-9-6, .col-sm-9-7, .col-sm-9-8, .col-sm-9-9, .col-sm-9-10, .col-sm-9-11, .col-sm-9-12 {
        float: left;
    }
    .col-sm-9-9 {
        width: 100%;
    }
    .col-sm-9-8 {
        width: 88.88888889%;
    }
    .col-sm-9-7 {
        width: 77.77777778%;
    }
    .col-sm-9-6 {
        width: 66.66666667%;
    }
    .col-sm-9-5 {
        width: 55.55555556%;
    }
    .col-sm-9-4 {
        width: 44.44444444%;
    }
    .col-sm-9-3 {
        width: 33.33333333%;
    }
    .col-sm-9-2 {
        width: 22.22222222%;
    }
    .col-sm-9-1 {
        width: 11.11111111%;
    }
    .d-flex-md {
        display: flex;
    }
    .pr-3 {
        padding-right: 3px!important;
    }
    .pl-3 {
        padding-left: 3px!important;
    }
}
@media (min-width: 992px) {
    .col-md-9-1, .col-md-9-2, .col-md-9-3, .col-md-9-4, .col-md-9-5, .col-md-9-6, .col-md-9-7, .col-md-9-8, .col-md-9-9, .col-md-9-10, .col-md-9-11, .col-md-9-12 {
        float: left;
    }
    .col-md-9-9 {
        width: 100%;
    }
    .col-md-9-8 {
        width: 88.88888889%;
    }
    .col-md-9-7 {
        width: 77.77777778%;
    }
    .col-md-9-6 {
        width: 66.66666667%;
    }
    .col-md-9-5 {
        width: 55.55555556%;
    }
    .col-md-9-4 {
        width: 44.44444444%;
    }
    .col-md-9-3 {
        width: 33.33333333%;
    }
    .col-md-9-2 {
        width: 22.22222222%;
    }
    .col-md-9-1 {
        width: 11.11111111%;
    }
}
@media (min-width: 1200px) {
    .col-lg-9-1, .col-lg-9-2, .col-lg-9-3, .col-lg-9-4, .col-lg-9-5, .col-lg-9-6, .col-lg-9-7, .col-lg-9-8, .col-lg-9-9, .col-lg-9-10, .col-lg-9-11, .col-lg-9-12 {
        float: left;
    }
    .col-lg-9-9 {
        width: 100%;
    }
    .col-lg-9-8 {
        width: 88.88888889%;
    }
    .col-lg-9-7 {
        width: 77.77777778%;
    }
    .col-lg-9-6 {
        width: 66.66666667%;
    }
    .col-lg-9-5 {
        width: 55.55555556%;
    }
    .col-lg-9-4 {
        width: 44.44444444%;
    }
    .col-lg-9-3 {
        width: 33.33333333%;
    }
    .col-lg-9-2 {
        width: 22.22222222%;
    }
    .col-lg-9-1 {
        width: 11.11111111%;
    }
}

#product-wrapper .product-small-image img{
  border:solid;
  border-color:#ddd;
  border-width:1pt;

}

#product-wrapper .product-small-image img:hover{
  border-color:#94c5d2;
  border-width:2pt;
}


div.index-wrapper > a > p{
  color:#FFF;
}

@media (min-width: 768px){
  #header{
    padding-bottom: 10px;
    border-bottom: 2px solid #EFEFEF;
  }
  #footer{
    border-top: 2px solid #EFEFEF;
  }

  /*index*/
  .main-wrapper .index-wrapper:hover p{
    display: block;
    top: 45%;
  }
  .main-wrapper .index-wrapper:hover h3{
    top: 25%;
  }

  /*lastest-offers*/
  #lastest-offers #offers-wrapper .img-wrapper{
    padding-right: 3px;
  }
  #lastest-offers #offers-wrapper .content-wrapper{
    padding-left: 3px;
    display: none;
  }
  #lastest-offers #offers-wrapper .content-wrapper .content-right{
    overflow-y: auto;
  }

  /*product-children*/
  .healthcare .healthcare-wrapper:nth-child(odd){
    padding-right: 3px;
  }
  .healthcare .healthcare-wrapper:nth-child(even){
    padding-left: 3px;
  }

  /*contact-us*/
  #lastest-offers.contact-us #offers-wrapper > div > div:nth-child(odd){
    padding-right: 3px;
    clear: both;
  }
  #lastest-offers.contact-us #offers-wrapper > div > div:nth-child(even){
    padding-left: 3px;
  }

  /*company-history*/
  #factory-intro .intro-text,
  #company-history .history-text{
    width: 50%;
  }

  #other-services .content{
    width: 50%;
  }

}

@media only screen and (min-width: 1200px){
  /*index*/
  #index #main .index-wrapper h3{
    font-size: 1.5em;
  }
  #index #main .index-wrapper p{
    top: 45%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  /*index*/
  #index #main .index-wrapper .link-wrapper{
    background-position: center 90%;
  }
  #index #main .index-wrapper p{
    top: 45%;
  }

  /*health-tips*/
  #health-tips.pain .function-wrapper .function-btn > p,
  #health-tips.allergy .function-wrapper .function-btn > p,
  #health-tips.gerd .function-wrapper .function-btn > p{
    padding: 10px;
    font-size: 1em;
    width: 85%;
  }
  #health-tips.pain .function-wrapper .function-right-wrapper .function-btn > p,
  #health-tips.allergy .function-wrapper .function-right-wrapper .function-btn > p,
  #health-tips.gerd .function-wrapper .function-right-wrapper .function-btn > p{
    padding-left: 30px;
  }


}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*header*/
  #header .navbar-right{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }

  #header .navbar-middle{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
  }

  #header #lang, #header #social-icon{
    margin-top: 0;
  }

  #header #lang, #header #linkage-icon{
    margin-top: 0;
  }

  .contact-section #contact-nav li a{
    padding-left: 15px;
    padding-right: 15px;
  }

  /*index*/
  #index #main .index-wrapper .link-wrapper{
    background-position: center 95%;
  }
  #index #main .index-wrapper p{
    line-height: 12px;
  }
  #index #main .index-wrapper h3{
    font-size: 1em;
  }
  #index #main .index-wrapper:hover h3{
    top: 15%;
  }
  #index #main .index-wrapper .banner-title{
    width: 77px;
    height: 24px;
  }
  #index #main .index-wrapper:last-child .banner-title{
    width: 90px;
  }

  /*product*/



  #product #product-wrapper .product-big-image,
  #product #product-wrapper .product-small-image,
  #product #product-wrapper .product-description,
  .healthcare .healthcare-wrapper .image-wrapper{
    height: 330px;
  }

  /*health-tips*/
  #health-tips.pain .function-wrapper .function-btn > p,
  #health-tips.allergy .function-wrapper .function-btn > p,
  #health-tips.gerd .function-wrapper .function-btn > p{
    padding: 5px;
    font-size: 0.6em;
    width: 90%;
  }
  #health-tips.pain .function-wrapper .function-right-wrapper .function-btn > p,
  #health-tips.allergy .function-wrapper .function-right-wrapper .function-btn > p,
  #health-tips.gerd .function-wrapper .function-right-wrapper .function-btn > p{
    padding-left: 20px;
  }
}

#contact-nav  .container-fluid-125 .page_title {
  ul {
    list-style: none;
    display: flex;
    >li a {
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
          text-decoration: underline;
      }
    }
  }

}




