@import '../variable';
#header {
  border: 0;
  #logo {
    width: 90px;
    height: 110px;
    padding: 0;
    margin: 0 0 0 0;
  }
  a {
    color: #878787;
    &:active, &:hover {
      color: #040C4A;
    }
  }
  .main-menu {
    .sub__menu {
      display: none;
    }
    margin-top: 80px;
    a {
      height: 30px;
      line-height: 20px;
      padding: 5px 10px;
      margin: 0 5px;
      border-bottom: 1px solid transparent;
      color: #878787;
      &:hover, &:focus {
        background: none;
        color: #040C4A;
        border-bottom: 1px #040C4A solid;
      }
    }
    .active {
      a {
        color: #040C4A;
        border-bottom: 1px #040C4A solid;
      }
    }
    #linkage-icon {
      .icon-list-item a {
        padding-right: 0px;
        padding-left: 12px
      }
    }
    .nolink {
      position: relative;
      .sub__menu {
        min-width: 180px;
        margin: 0;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        a {
          color: black;
          padding: 0 10px;
          text-decoration: none;
          display: block;
          margin: 0;
          border-bottom: #ededed solid 1px;
          line-height: 36px;
          height: 36px;
          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
      &:hover {
        >.sub__menu {
          display: block;
        }
      }
    }
  }
  #lang, #social-icon, #linkage-icon {
    margin-top: 60px;
  }
  #lang {
    padding-right: 0px;
    padding-left: 12px;
    a {
      height: 24px;
      line-height: 24px;
      padding: 0 5px;
      background-image: url(../images/laug_sep.png);
      background-position: left;
      &:hover {
        color: #040C4A;
        text-decoration: none;
      }
    }
    li:first-child a {
      background-image: none;
    }
    .active a {
      color: #040C4A;
    }
    li {
      margin: 13px 0;
    }
  }
  #social-icon {
    margin-left: 20px;
    a {
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0 1px;
      &:hover {
        background-position: 0 -24px;
      }
    }
    a.fb-icon {
      background-image: url(../images/facebook_icon.png);
    }
    a.weibo-icon {
      background-image: url(../images/webio_icon.png);
    }
    a.youtube-icon {
      background-image: url(../images/youtube_icon.png);
    }
    li {
      margin: 13px 0;
    }
  }
  #linkage-icon {
    margin-left: 10px;
  }
  .navbar-header {
    float: left;
    img {
      max-width: 100%;
      width: auto;
    }
  }
  #block-pharm-theme-branding a {
    width: 90px;
    height: 110px;
    padding: 0;
    margin: 0 0 0 0;
    display: block;
  }
  .container-fluid-40 {
    overflow: visible;
  }
}
body {
  &.path-frontpage, &.page-node-2, &.page-node-3, &.page-node-20, &.page-node-147, &.path-news, &.page-node-5, &.page-node-20, &.path-advertisements &.page-node-6, &.page-node-10 {
    #header {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    li {
      a {
        &:hover, &:focus {
          background-color: transparent;
          outline: none;
          outline-offset: 0px;
        }
      }
    }
  }
  #header {
    padding-bottom: 0px;
    border-bottom: 0px;
    #contact-nav {
      display: none;
    }
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
  .main-menu {
    float: left;
    margin: 0;
    list-style: none;
  }
  nav {
    &#contact-nav {
      padding-right: 0px;
      padding-left: 0px;
      li {
        background-image: url(../images/laug_sep.png);
        background-position: left;
        background-repeat: no-repeat;
        &:first-child {
          background-image: none;
        }
        &.active, &:hover {
          a {
            text-decoration: underline;
            color: #000;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1120px) and (min-width: 768px) {
  #header {
    .main-menu {
      a {
        padding: 5px 2px;
        margin: 0px 2px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header {
    .main-menu {
      margin-top: 0;
      width: 100%;
    }
    .navbar-right {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
    }
    .navbar-middle {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 200px;
    }
    #lang, #social-icon, #linkage-icon {
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  #sidebar-wrapper {
    #lang-sidebar {
      width: 160px;
      margin: 25px 0 25px 25px;
      li {
        float: left;
        &:first-child {
          a {
            background-image: none;
          }
        }
        a {
          height: 24px;
          line-height: 24px;
          padding: 0 15px;
          background-image: url(../images/laug_sep.png);
          background-position: left;
          color: #878787;
          &:hover {
            color: #040C4A;
            text-decoration: none;
            background-color: inherit;
          }
        }
        &.active {
          color: #040C4A;
          >a {
            color: #040C4A;
          }
        }
      }
    }
    #social-icon-sidebar {
      position: relative;
      width: 200px;
      margin-left: 25px;
      li {
        float: left;
        a {
          width: 45px;
          height: 45px;
          padding: 0;
          margin: 3px;
          background-repeat: no-repeat;
          &:hover, &:focus {
            background-color: transparent;
            border: 0;
            outline: 0;
          }
          &.fb-icon {
            background-image: url(../images/facebook_icon_mobile.png);
          }
          &.weibo-icon {
            background-image: url(../images/webio_icon_mobile.png);
          }
          &.youtube-icon {
            background-image: url(../images/youtube_icon_mobile.png);
          }
        }
      }
    }
  }
}