<div{{ attributes }} class="inner">
  <div class="navbar-header">
    {{ elements.pharm_theme_branding }}
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse">
    {{ elements.pharm_theme_main_menu }}
    {# <ul id="nav-bar" class="nav navbar-nav">
          <li class=""> <a href="http://www.fortunepharm.com/eng/home">Home</a></li>
          <li class=""><a href="http://www.fortunepharm.com/eng/company-history">About Us</a></li>
          <li class=""><a href="http://www.fortunepharm.com/eng/product/hongkong/1/0">Product</a></li>
          <li class=""><a href="http://www.fortunepharm.com/eng/product_take">Product Finder</a></li>
          <li class=""><a href="http://www.fortunepharm.com/eng/faq/0">FAQ</a></li>
          <li class=""><a href="http://www.fortunepharm.com/eng/health-tips">Health Tips</a></li>
          <li class="active"><a href="http://www.fortunepharm.com/eng/other-services">Other Services</a></li>
        </ul> #}
    <div class="navbar-right">
      <ul id="lang" class="nav navbar-nav">
        <li class=""><a href="http://www.fortunepharm.com/cht/other-services">繁</a></li>
        <li class=""><a href="http://www.fortunepharm.com/chs/other-services">簡</a></li>
        <li class="active"><a href="http://www.fortunepharm.com/eng/other-services">ENG</a></li>
      </ul>
      <ul id="social-icon" class="nav navbar-nav">
        <li><a href="https://www.facebook.com/Fortune.Pharmacal" target="_blank" class="fb-icon"></a></li>
        <li><a href="http://weibo.com/fortunepharmacal" target="_blank" class="weibo-icon"></a></li>
        <li><a href="https://www.youtube.com/user/FortunePharmHK" target="_blank" class="youtube-icon"></a></li>
      </ul>
    </div>
  </nav>
