
<div class="health-tips">
  <div id='health1'>
    <div id="health-tips" class="pain">
      <div id="wrapper">
        <div id="page-content-wrapper">
          <div id="main">
            <div class="container-fluid">
              <div class="content-outer-wrapper">
              {% for item in node.field_healthtips_paragraph %}
                  <div>field_healthtips_details.value| check_markup(item.entity.field_healthtips_details.format) </div>

                   <div class="notice-wrapper">
								<p>  
                                   {{ item.entity.field_healthtips_short_descripti.value| check_markup(item.entity.field_healthtips_short_descripti.format) }}
                                <p></div>
                   <div> item.entity.field_healthtips_body.value| check_markup(item.entity.field_healthtips_body.format)  </div>
                              
                             {{ item.entity.field_healthtips_body.value| check_markup(item.entity.field_healthtips_body.format) }}
                   <div> item.entity.field_healthtips_details.value| check_markup(item.entity.field_healthtips_details.format)   </div>
                             {{ item.entity.field_healthtips_details.value| check_markup(item.entity.field_healthtips_details.format) }}
                          
            {% endfor %}


               
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  {# {{ content.field_short_description }} #}

  <div>

  </div>
</div>


