@import '../variable';
@import '../mixins';
@media only screen and (min-width: 1200px) {
  .main-wrapper {
    .index-wrapper {
      .link-wrapper {
        span {
          font-size: 1.5em;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #health-tips {
    &.allergy,
    &.gerd,
    &.pain {
      .function-wrapper {
        .function-btn {
          > p {
            // padding: 10px;
            padding-left: 5px;
            font-size: 1em;
            width: 100%;
          }
        }

        .function-right-wrapper {
          .function-btn {
            > p {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-wrapper {
    .index-wrapper {
      .link-wrapper {
        background-position: center 95%;

        span {
          font-size: 1em;
          top: 30%;
          line-height: 1.1;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .healthcare {
    .healthcare-wrapper {
      .image-wrapper {
        height: 330px;
      }
    }
  }

  #health-tips {
    &.allergy,
    &.gerd,
    &.pain {
      .function-wrapper {
        .function-btn {
          > p {
            padding: 5px;
            font-size: 0.6em;
            width: 90%;
          }
        }

        .function-right-wrapper {
          .function-btn {
            > p {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .path-news #block-pharm-theme-content {
    width: 100%;
  }

  .page-node-147,
  .page-node-3 {
    #block-pharm-theme-content {
      width: 50%;
    }
  }

  .views-field-field-mobile-banner-photo {
    .field-content {
      img {
        display: none;
      }
    }
  }

  .visible-xs {
    img {
      display: none;
    }
  }

  .healthcare {
    .healthcare-wrapper {
      &:nth-child(odd) {
        padding-right: 3px;
      }

      &:nth-child(even) {
        padding-left: 3px;
      }
    }
  }

  #footer {
    border-top: 2px solid #EFEFEF;
  }

  .path-advertisements {
    .video-outer-wrapper {
      .video-wrapper {
        .content {
          min-height: 95px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  .container-healthtips-submenu {
    nav#block-mainnavigation {
      #menu {
        li {
          &.navbar-item {
            width: 160px;
          }
        }
      }
    }
  }

  .path-advertisements {
    .video-outer-wrapper {
      .video-wrapper {
        .content {
          font-size: 13px;
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  #banner-wrapper {
    .page_banner {
      img {
        min-height: 90px;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    &.path-frontpage {
      .mobile-main {
        .row-xs-4 {
          &.nopadding {
            .field-type-text-with-summary {
              height: 100%;
            }
          }
        }
      }

      .slick-dotted {
        &.slick-slider {
          padding: 0 5px 5px 0;
        }
      }
    }
  }
  // News
  .path-news {
    .views-row {
      .content-row {
        & > div {
          //padding: 10px !important;
        }

        .colume2 {
          .img img {
            display: none;
          }

          .title-wrapper a {
            top: 10px;
            right: 10px;
          }
        }
      }
    }
  }

  .path-faq {
    .sub-tab-wrapper li {
      float: left;
    }

    .content-outer-wrapper {
      .detail-wrapper {
        width: 100%;
      }

      .content-wrapper {
        .text-wrapper {
          height: auto;
        }
      }
    }
  }

  #banner-wrapper {
    .page_title {
      width: 50%;

      h1 {
        font-size: 1.25em;
      }
    }

    .page_banner {
      img {
        width: 100%;
      }
    }
  }

  .path-latest-offers {
    .content-wrapper {
      .content-left {
        h3 {
          padding: 30px 0 !important;
        }
      }
    }

    .latest-off-block {
      display: block;
    }

    .img-wrapper {
      padding-right: 15px;
    }

    .content-wrapper {
      padding-left: 15px;
    }
  }

  .views-field-field-banner-photo {
    .field-content {
      img {
        display: none;
      }
    }
  }

  .hidden-xs {
    img {
      display: none;
    }
  }

  .container-fluid-healthtips {
    display: block !important;

    .container-healthtips-submenu nav#block-mainnavigation #menu {
      margin: 0;

      li.navbar-item {
        display: inline-block;

        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  .mobile-main {
    .col-xs-4,
    .col-xs-8 {
      &.row-xs-4 {
        &.nopadding {
          div {
            height: 100%;
          }
        }
      }
    }
  }

  .scroll-wrapper {
    overflow-y: hidden;
    overflow-x: auto;
  }
  /*pagination*/
  .pagination-wrapper {
    .right-s {
      margin-right: 5px;
    }

    .right-l {
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

  .pagination-btn,
  .pagination-skip {
    padding: 15px 10px;
  }

  .pagination-btn.with-select:before {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*product*/
  #health-tips {
    .sub-tab-wrapper {
      li {
        float: left;
      }
    }

    .notice-wrapper {
      padding: 10px 20px;
      background-color: #D2DCB4;
    }

    .detail-wrapper {
      .detail-left-wrapper {
        height: 80px;
        background-color: #D2DCB4;
        margin-bottom: 20px;

        h4 {
          line-height: 80px;
        }
      }
    }

    .function-wrapper {
      padding: 0;
      margin-top: 3px;

      .function-btn {
        float: left;
        margin-right: 1%;

        &:last-child {
          margin-right: 0;
        }
      }

      .function-middle-wrapper {
        img {
          position: relative;
        }

        p {
          display: none;
        }
      }

      .function-btn {
        margin-bottom: 0;
        background-position: 0 0;

        > p {
          width: 100%;
          margin: 0 !important;
          font-size: 0.6em;
        }

        > img {
          width: 35%;
          margin: 5% auto 0 !important;
          display: block;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.active {
          background-position: 0 100%;
        }

        &.function-logo,
        &.function-logo:hover {
          background-position: 0 0 !important;
        }
      }

      .function-right-wrapper {
        .function-btn {
          > img {
            margin-top: 13% !important;
          }
        }
      }

      .function-tab-wrapper {
        margin: 0;
      }
    }

    .healthtips-left-col {
      position: absolute;
      bottom: 10%;
    }

    .healthtips-right-col {
      position: absolute;
      bottom: 20%;
    }

    &.children {
      .function-wrapper {
        .function-btn {
          width: 32.6666%;

          > p {
            width: 100%;

            &.two_icons {
              width: 50%;
            }
          }

          > img {
            width: 55%;
          }

          &.function-logo,
          &.function-logo:hover {
            background-image: url("../images/tips/trip_5_print.png") !important;
          }
        }

        .function-left-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_5_top_btn.png");
          }
        }

        .function-right-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_5_bottom_btn.png");
          }
        }
      }
    }

    &.allergy,
    &.gerd,
    &.pain {
      .function-wrapper {
        .function-btn {
          > p {
            padding: 5% !important;
            font-size: 0.8em;
            margin: 0 !important;
            width: 100%;
            line-height: 100%;
          }
        }

        .function-right-wrapper {
          .function-btn {
            > p {
              padding-top: 15% !important;
            }
          }
        }

        .function-right-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_3_bottom_btn.png");
          }
        }
      }
    }

    &.allergy {
      .function-wrapper {
        .function-middle-wrapper {
          margin: 0;
        }

        .function-full-wrapper {
          height: 300px;
        }

        .function-btn {
          width: 24.25%;

          &.function-logo,
          .function-logo:hover {
            background-image: url("../images/tips/trip_2_print.png") !important;
          }
        }

        .function-btn[rel="10"],
        .function-btn[rel="5"],
        .function-btn[rel="6"],
        .function-btn[rel="7"],
        .function-btn[rel="8"],
        .function-btn[rel="9"] {
          width: 32.6666%;
        }

        .function-right-wrapper {
          display: none;

          &.active {
            display: block;
          }
        }
      }
    }

    &.gerd {
      .function-wrapper {
        .function-middle-wrapper {
          background-position: center center;

          img {
            width: 100%;
            left: 0;
            top: 0;
          }
        }

        .function-btn {
          width: 32.6666%;
        }

        .function-left-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_3_top_btn.png");
          }
        }

        .function-right-wrapper {
          &.function-bottom-wrapper {
            .function-btn {
              background-image: url("../images/tips/trip_4_bottom_btn.png");
            }
          }
        }
      }
    }

    &.bloating {
      .function-wrapper {
        .function-full-wrapper {
          img {
            width: 100%;
          }
        }
      }
    }

    &.cold_and_flu {
      .function-wrapper {
        .function-btn {
          width: 24.25%;

          &.function-logo,
          &.function-logo:hover {
            background-image: url("../images/tips/trip_2_print.png") !important;
          }
        }

        .function-left-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_2_top_btn.png");
          }
        }

        .function-right-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_2_bottom_btn.png");
          }
        }
      }
    }

    &.pain {
      .function-wrapper {
        .function-btn {
          width: 32.6666%;

          &.function-logo,
          &.function-logo:hover {
            background-image: url("../images/tips/trip_2_print.png") !important;
          }
        }

        .function-left-wrapper {
          .function-btn {
            background-image: url("../images/tips/trip_3_top_btn.png");
          }
        }
      }
    }
  }

  .path-product-finder {
    .container-fluid {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .path-product-finder {
    .container-fluid {
      .content-left,
      .content-right {
        width: 100%;
      }
    }
  }

  .path-product-finder {
    .container-fluid {
      .content-right {
        margin-top: 60px;
      }
    }
  }

  .path-product-finder {
    .container-fluid {
      .content-right {
        .matched-product-wrapper {
          width: 200px;
        }
      }
    }
  }

  .path-product-finder {
    .container-fluid {
      .content-right {
        display: none;
      }
    }
  }

  .path-news {
    .content-wrapper {
      .text {
         padding-left: 0;
         table {
           tr {
             td {
                padding: 2px;
             }
           }
         }
      }
    }
  }
}
// for Footer
@media only screen and (min-width: 768px) {
  #footer {
    border-top: 2px solid #EFEFEF;
  }
}
@media only screen and (max-width: 767px) {
  #footer {
    .container-fluid-40 {
      position: relative;
      padding: 0;
    }

    .copyright,
    .footer-link {
      float: left;
      width: 100%;
    }

    p {
      padding-left: 10px;
    }

    ul {
      padding: 0;
    }
  }
}
@media only screen and (max-width: 399px) {
  #footer {
    .footer-link {
      ul {
        li {
          a {
            padding: 0 5px;
          }
        }
      }
    }
  }
// For English Pages
  .lang-en {
    .main-wrapper {
      .index-wrapper {
        .link-wrapper {
          span {
            font-size: 0.8em;
          }
        }

        .video-wrapper {
          p {
            &.video-text1 {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
