    @import '../variable';
    @import '../mixins';
    /********** helathtips scss ***/
    
    .page-node-type-healthtips {
        div.container-fluid-healthtipsbanner {
            max-width: 1680px;
            margin: 0 auto;
        }
        nav#block-mainnavigation {
            #menu {
                li {
                    a {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
        .container-fluid-healthtips {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            height: 50px;
            background-color: #F7F7F7;
            background-image: none;
            margin-bottom: 20px!important;
        }
        .container-healthtips-submenu {
             ::-webkit-scrollbar {
                width: 5px;
            }
            nav#block-mainnavigation {
                margin-right: auto;
                margin-left: auto;
                overflow-x: auto;
                scrollbar-width: none;
                #menu {
                    width: max-content;
                    height: 50px;
                    background-color: #F7F7F7;
                    display: flex;
                    li {
                        background-image: none;
                        &.navbar-item {
                            width: 160px;
                            font-size: 9pt;
                            a.navbar-link {
                                color: #677D3A;
                                text-align: center;
                                font-size: 9pt;
                                color: #677D3A;
                            }
                            a:focus,
                            a:hover {
                                background-color: #677D3A;
                                color: #eee;
                                text-decoration: none;
                            }
                        }
                        &.active {
                            background-color: #677D3A;
                            a {
                                color: #fff!important;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .sub-tab-session {
            position: relative;
            .arrow {
                position: absolute;
                width: 50px;
                height: 50px;
                display: inline-block;
                top: 0;
                display: none;
            }
            .arrow-left {
                background-image: url(../images/sub_bar_tap_left.png);
                left: 0;
            }
            .arrow-right {
                background-image: url(../images/sub_bar_tap.png);
                right: 0;
            }
        }
    }
    
    // Health tips
    #health-tips {
        .detail-wrapper {
            .detail-left-wrapper {
                h4 {
                    line-height: 150px;
                    text-align: center;
                    font-size: 1.8em;
                    margin: 0;
                }
                p {
                    text-align: center;
                    display: none;
                }
            }
        }
        .healthtips-right-col,
        .healthtips-left-col {
            position: absolute;
            bottom: 5%;
        }
        .sub-tab-wrapper {
            li {
                &.active,
                &:hover {
                    background-color: #677D3A;
                    a {
                        color: #FFF;
                    }
                }
                a {
                    color: #677D3A;
                }
            }
        }
        .notice-wrapper {
            position: relative;
            width: 100%;
            padding: 20px 40px;
            background-color: #A1AE75;
            p {
                color: #FFF;
                margin: 0;
            }
        }
        .image-wrapper {
            position: relative;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .function-wrapper {
            position: relative;
            background-color: #F6F7F8;
            overflow: hidden;
            padding: 20px 30px 0;
            >div {
                padding: 0;
            }
            .function-btn {
                position: relative;
                width: 100%;
                background-position: 0 101%;
                background-size: 100%;
                margin-bottom: 3px;
                cursor: pointer;
                &:last-child {
                    margin-bottom: 20px;
                }
                &.active,
                &:hover {
                    background-position: 0 0;
                }
                >img {
                    margin-top: 3%;
                    width: 50%;
                }
                >p {
                    width: 50%;
                    text-align: center;
                    color: #FFF;
                    margin-bottom: 0;
                }
                &.function-logo {
                    background-position: 0 0 !important;
                    cursor: inherit !important;
                    &:hover {
                        background-position: 0 0 !important;
                        cursor: inherit !important;
                    }
                }
            }
            .function-tab-btn {
                position: relative;
                background-color: #C7DA7D;
                width: 30%;
                float: left;
                margin-right: 5%;
                color: #FFF;
                padding: 15px;
                text-align: center;
                cursor: pointer;
                font-size: 1.5em;
                &:last-child {
                    margin-right: 0;
                }
                &.active,
                &:hover {
                    background-color: #677D3A;
                }
            }
            .function-left-wrapper {
                .function-btn {
                    >img,
                    >p {
                        margin-left: 20%;
                    }
                }
            }
            .function-right-wrapper {
                .function-btn {
                    >img,
                    >p {
                        margin-left: 20%;
                    }
                }
            }
            .function-middle-wrapper {
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                p {
                    width: 100%;
                    text-align: center;
                    color: #666666;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
            .function-full-wrapper {
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            .function-tab-wrapper {
                margin-bottom: 40px;
                z-index: 2;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 10px;
                    background-color: #677D3A;
                    float: left;
                }
            }
            .function-detail-wrapper {
                .detail-right-wrapper {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
        } //cold_and_flu
        &.cold_and_flu {
            .function-wrapper {
                .function-btn {
                    &.function-logo,
                    &.function-logo:hover {
                        background-image: url("../images/tips/trip_2_8.png") !important;
                    }
                }
            }
            .function-left-wrapper {
                .function-btn {
                    background-image: url("../images/tips/trip_2_left_btn.png");
                }
            }
            .function-right-wrapper {
                .function-btn {
                    background-image: url("../images/tips/trip_2_right_btn.png");
                }
            }
        } //children
        &.children {
            .function-wrapper {
                .function-btn {
                    >img,
                    >p {
                        width: 70%;
                    }
                    >p {
                        &.two_icons {
                            width: 35%;
                            float: left;
                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                    &.function-logo,
                    &.function-logo:hover {
                        background-image: url("../images/tips/trip_3_6.png") !important;
                    }
                }
                .function-left-wrapper {
                    .function-btn {
                        background-image: url("../images/tips/trip_3_left_btn.png");
                        >img,
                        >p {
                            margin-left: 10%;
                        }
                    }
                }
                .function-right-wrapper {
                    .function-btn {
                        background-image: url("../images/tips/trip_3_right_btn.png");
                    }
                }
            }
        } //allergy, gerd, pain
        &.allergy,
        &.gerd,
        &.pain {
            .function-wrapper {
                .function-btn {
                    >p {
                        padding: 20px;
                        margin: 0 !important;
                        font-size: 1.2em;
                        width: 80%; // text-align: left;
                    }
                }
                .function-left-wrapper {
                    .function-btn {
                        background-image: url("../images/tips/trip_4_left_btn.png");
                    }
                }
            }
        } //pain, gerd
        &.gerd,
        &.pain {
            .function-wrapper {
                .function-right-wrapper {
                    .function-btn {
                        background-image: url("../images/tips/trip_4_right_btn.png");
                        >p {
                            padding-left: 40px;
                        }
                    }
                }
                .function-btn {
                    &.function-logo,
                    &.function-logo:hover {
                        background-image: url("../images/tips/trip_2_8.png") !important;
                    }
                }
            }
        }
        &.allergy {
            .function-wrapper {
                .function-btn {
                    &.function-logo,
                    &.function-logo:hover {
                        background-image: url("../images/tips/trip_7_btn_3.png") !important;
                    }
                }
                .function-full-wrapper {
                    height: 500px;
                    overflow: auto;
                }
                .function-left-wrapper,
                .function-right-wrapper {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                .function-middle-wrapper {
                    margin-left: 10%;
                }
            }
        }
        &.gerd {
            .function-wrapper {
                .function-middle-wrapper {
                    background-image: url("../images/tips/trip_8_bg.png");
                    background-size: 100%;
                    background-position: bottom center;
                    img {
                        width: 70%;
                        bottom: 30%;
                        left: 15%;
                    }
                    p {
                        position: absolute;
                        bottom: 20%;
                    }
                }
            }
        }
        &.pain {
            .function-wrapper {
                .function-middle-wrapper {
                    img {
                        width: 80%;
                        left: 10%;
                    }
                }
            }
        }
        &.bloating {
            .function-wrapper {
                .function-full-wrapper {
                    img {
                        width: 60%;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
        .sub-tab-outer-wrapper {
            width: 100%;
            height: 50px;
            background-color: #F7F7F7;
            background-position: bottom;
            margin-bottom: 20px;
            li {
                a {
                    width: 120px;
                    text-align: center;
                    font-size: 9pt;
                    color: #1D778F;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
        .sub-tab-wrapper {
            margin: 0;
            li {
                a {
                    width: 160px;
                    color: #677D3A;
                }
                &.arrow {
                    a {
                        width: 50px;
                        text-align: center;
                        color: #C8C8C8;
                    }
                }
            }
        }
    }
    
    // Healthcare
    .healthcare {
        .healthcare-wrapper {
            padding: 0;
            .image-wrapper {
                position: relative;
                height: 450px;
                max-height: 450px;
            }
            img {
                height: 100%;
                margin: 0 auto;
                display: block;
            }
            .content-wrapper {
                ul {
                    background-color: #FDEEEE;
                    padding: 20px;
                    margin: 0;
                }
                h2 {
                    color: #FEACA2;
                    font-size: 2em;
                }
                h3 {
                    font-size: 1em;
                    margin-bottom: 15px;
                }
            }
        }
        .healthcare-btn {
            padding: 0;
            margin: 20px 0;
            a {
                display: inline-block;
                background-color: #CCCCCC;
                color: #FFF;
                padding: 10px 20px;
            }
        }
    }
    
    .detail-wrapper {
        position: relative;
        overflow: hidden;
        margin: 20px 0;
        h4,
        p {
            color: #FFF;
        }
        .detail-left-wrapper {
            height: 150px;
            background-color: #A1AE75;
            z-index: 2;
            h4 {
                color: #fff;
            }
        }
        .detail-right-wrapper {
            ul {
                padding: 0 15px 15px 40px;
            }
            h2,
            h3,
            h4,
            p {
                color: #666666;
                margin: 0;
                font-size: 1em;
            }
            h2 {
                font-size: 1.5em;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 1.2em;
                font-weight: bold;
            }
            p {
                margin-bottom: 20px;
            }
        }
    }
    
    #health-tips {
        .function-detail-wrapper {
            .detail-right-wrapper {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }