@import '../variable';
@import '../mixins';
body.fontyourface {
  overflow-x: hidden;
  .homepage {
    .banner {
      max-height: 100%;
    }
  }
}
body {
  &.path-frontpage {
    .slick-slide {
      img {
        height: 100%;
        width: 100%;
      }
    }
    .slick-dots {
      bottom: 20px;
      li {
        width: 12px;
        height: 12px;
        button {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          border: #fff solid 1px;
          background: transparent;
          &::before {
            display: none;
          }
        }
        &.slick-active {
          button {
            background-color: #fff;
            width: 12px;
            height: 12px;
            border-radius: 12px;
          }
        }
      }
    }
    .slick-dotted {
      &.slick-slider {
        margin-bottom: 0;
      }
    }
  }
}
.main-wrapper {
  margin-right: -5px;
}
.index-wrapper {
  a {
    color: #fff;
  }
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #6ECCF4;
    background-image: url(../images/index_img_video.png);
    background-size: 20%;
    background-position: 30% 40%;
    p {
      &.video-text1 {
        font-size: 1.2em;
        top: 30%;
      }
      &.video-text2 {
        font-size: 0.7em;
        top: 50%;
      }
    }
  }
  .info-label {
    position: absolute;
    height: 30px;
    top: 10px;
    left: 0;
    background-color: #6ECCF4;
    line-height: 30px;
    color: #FFF;
    padding-left: 25px;
    padding-right: 10px;
  }
}