@import '../variable';
@import '../mixins';


/*contact*/
.contact-section #header {
  border: 0;
  padding: 0;
}

.contact-section #contact-nav {
  background-color: #F3F3F3;
  border-bottom: 3px solid #EDEDED;
  margin-bottom: 25px;
}

.contact-section #contact-nav li {
  background-image: url(../../images/laug_sep.png);
  background-position: left;
}

.contact-section #contact-nav li:first-child {
  background-image: none;
}

.contact-section #contact-nav li a {
  padding-left: 20px;
  padding-right: 20px;
}

.contact-section #contact-nav li.active a,
.contact-section #contact-nav li:hover a {
  text-decoration: underline;
}

/*block-contactus*/
#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper {
    margin-bottom: 25px;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper > div {
    margin-bottom: 10px;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .img-wrapper img {
    width: 100%;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper > div {
    height: 100%;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-left {
    background-color: #C4EDF6;
    display: table;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right {
    background-color: #EAF6F8;
    //padding: 15px;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-left h3 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    display: block;
    vertical-align: inherit;
    color: #000077;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right p {
    margin: 0;
  }
}

#block-contactus #offers-wrapper .more-btn,
#block-contactus #offers-wrapper .more-btn a,
#block-contactus #offers-wrapper .more-btn a span,
#block-contactus #offers-wrapper .more-btn a span:after,
#block-contactus #offers-wrapper .no-content {
  padding: 0;
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .no-content img {
    width: 100%;
  }
}

/*contact-us*/
#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper > div {
    overflow: hidden;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper > div > div {
    padding: 0;
    margin-bottom: 20px;
  }
}

#block-contactus, #block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-left div {
    display: table-cell;
    vertical-align: middle;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-left h3 {
    display: block;
    vertical-align: inherit;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-left p {
    text-align: center;
    font-size: 0.5em;
    margin-top: 10px;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right {
    padding: 10px;
    overflow-y: auto;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right ul li {
    padding: 15px 0;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid #E1ECEE;
    color: #848788;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right ul li label {
    width: 65px;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper .content-right ul li a {
    color: #848788;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper.with-image .content-left {
    display: block;
    padding: 0;
    background-color: #EAF6F8;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper.with-image .content-left img {
    width: 61%;
  }
}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper.with-image .content-right {
    background-color: #EAF6F8;
    padding: 20px 15px;
  }
}

#block-contactus #offers-wrapper .content-wrapper.with-image .content-right p,
#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper .content-wrapper.with-image .content-right a {
    color: #848788;
  }
}


@media only screen and (min-width: 768px) {
  /*lastest-offers*/
  #block-contactus #offers-wrapper .img-wrapper {
    padding-right: 3px;
  }
  #block-contactus #offers-wrapper .content-wrapper {
    padding-left: 3px;
    display: none;
  }
  #block-contactus #offers-wrapper .content-wrapper .content-right {
    overflow-y: auto;
  }

  /*contact-us*/
  #block-contactus #offers-wrapper #offers-wrapper > div > div:nth-child(odd) {
    padding-right: 3px;
    clear: both;
  }
  #block-contactus #offers-wrapper > div > div:nth-child(even) {
    padding-left: 3px;
  }
}

@media only screen and (max-width: 767px) {

  /*lastest-offers*/
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper {
      height: auto !important;
    }
  }
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper h3 {
      padding: 30px 0;
    }
  }

  /*contact-us*/
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper {
      height: 304px !important;
      .content-right {
        overflow: hidden;
      }
    }
  }
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper.with-image {
      height: 230px !important;
    }
  }
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper h3 {
      padding: 0;
    }
  }
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper .content-right ul li {
      padding: 15px 10px;
    }
  }
  #block-contactus,
  #block-lianxiwomenjizhaopindibuneirongjianti,
  #block-lianxiwomenjizhaopindibuneirongfanti {
    #offers-wrapper .content-wrapper .content-right ul li label {
      display: block;
    }
  }

}

#block-contactus,
#block-lianxiwomenjizhaopindibuneirongjianti,
#block-lianxiwomenjizhaopindibuneirongfanti {
  #offers-wrapper {
    overflow: hidden;

    > div {
      padding: 3px;
      margin-bottom: 10px;
    }
  }

  .content-wrapper {
    //padding-right: 1px;
    > div {
      height: 100%;
    }

    .content-left {
      background-color: #EAF6F8;
      display: table;

      div {
        display: table-cell;
        vertical-align: middle;
      }

      h3 {
        font-size: 1.5em;
        margin: 0;
        text-align: center;
        //display: table-cell;
        color: #000077;
        display: block;
        vertical-align: inherit;
        padding: 0;
      }

      p {
        text-align: center;
        font-size: 0.5em;
        margin-top: 10px;
      }
    }

    .content-right {
      background-color: #EAF6F8;
      padding: 0;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 15px 20px;
          width: 100%;
          border-bottom: 1px solid #E1ECEE;
          color: #848788;

          label {
            width: 65px;

            a {
              color: #848788;
            }
          }
        }
      }
    }
  }

  .img-wrapper {
    //padding-top: 5px;
    img {
      height: 100%;
    }
  }

  .content-wrapper.with-image {
    //padding-top: 5px;
    //padding-right: 1px;
    .content-left {
      display: block;
      padding: 0;
      background-color: #EAF6F8;

      img {
        width: 61%;
      }
    }

    .content-right {
      background-color: #EAF6F8;
      padding: 20px 15px;

      p, a {
        color: #848788;
      }
    }
  }
}
